.Box{
    display: flex;
    width: 1140px;
    height: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 10px 50px rgba(132, 132, 132, 0.25);
    border: 1px black solid;
}
.Head{
    width: 1140px;
    height: 200px;
    background: #5E50A1;
    border-radius: 8px 8px 0px 0px;
}
.Edit{
    width: 200px;
    height: 56px;
    margin-top: 150px;
    margin-left: auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 56px;
    color: #FFFFFF;
}
.Ellipse{
    width: 150px;
    height: 150px;
    margin-top: -180px;
    margin-left: 490px;
    margin-right: auto;
    /* border: 1px black solid; */
    border-radius: 50%;
}
/* .Content{
    width: 614px;
    height: 614px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
} */
.CompanyName{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* margin-right: auto; */
    width: 254px;
    height: 56px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 56px;
    color: #1F2A36;
    /* border: 1px solid black; */
}
.CompanyRole{
    margin-left: auto;
    margin-right: auto;
    width: 55px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1F2A36;
    border: 1px solid black;
}
.WrapperLoct{
    margin-left: auto;
    margin-right: auto;
    width: 196px;
    height: 20px;
}
.MapsIcon{
    color: #9EA0A5;
    margin-left: auto;
    margin-right: auto;
}
.CompanyAdress{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9EA0A5;
    border: 1px solid black;
}
.Desciption{
    margin-left: auto;
    margin-right: auto;
    width: 614px;
    height: 48px;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #9EA0A5;
}
.btn{
    width: 297px;
    height: 50px;
    margin-left: 415px;
    margin-top: 30px;
    border: none;
    background: #5E50A1;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}
.SocialMedia{
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 297px;
    height: 250px;
    /* border: 1px solid black; */
}
.Email{
    margin-left: auto;
    margin-right: auto;
    width: 187px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9EA0A5;
}
.Instagram{
    margin-left: auto;
    margin-right: auto;
    width: 114px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9EA0A5;
}
.Phone{
    margin-left: auto;
    margin-right: auto;
    width: 126px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9EA0A5;
}
.LinkedIn{
    margin-left: auto;
    margin-right: auto;
    width: 152px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9EA0A5;
}
.footer{
    position: absolute;
    top: 1400px;
    width: 100%;
}
@media only screen and (max-width: 1056px){
    .Box{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100vh;
    }
}