.Cover{
    height: 900px;
    display: flex;
    flex-direction: row;
    /* border: 1px black solid; */
}
.wrapperPwImg{
    margin-left: 75px;
    margin-top: 39px;
    width: 650px;
    height: 822px;
    /* border: #1F2A36 1px solid; */
}
.BG{
    position: relative;
    width: 650px;
    height: 822px;
    margin-top: 0px;
}
.Mask{
    position: relative;
    opacity: 0.4;
    margin-top: -852px;
    width: 650px;
    height: 822px;
}
.Mask1{
    position: relative;
    opacity: 0.4;
    margin-top: -900px;
    width: 650px;
    height: 822px;
}
.Logo{
position: absolute;
top: 75px;
left: 135px;

opacity: 1;
    /* border: #1F2A36 1px solid; */
}
.text{
    position: absolute;
    left: 165px;
    top: 75px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
.text2{
    position: absolute;
    left: 135px;
    top: 280px;
    width: 456px;
    height: 280px;
}
.text2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 70px;
    color: white;
}

.halo{
    /* position: absolute; */
    width: 258px;
    height: 44px;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    line-height: 44px;
    color: #1F2A36;
}
.lorem{
    width: 570px;
    height: 50px;
    margin-top: 55px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #46505C;
}
.wrapperEmail{
    height: 90px;
    width: 570px;
    margin-top: 75px;
    color: #9EA0A5;
    font-size: 12px;
    /* border: 1px black solid; */
}
.wrapperPassword{
    height: 90px;
    width: 570px;
    margin-top: 20px;
    color: #9EA0A5;
    font-size: 12px;
}
.inpEmail{
    padding-left: 15px;
    height: 50px;
    width: 570px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    background: #FFFFFF;
    border: 1px solid #E2E5ED;
    border-radius: 4px;
}
.forgot{
    /* position: absolute; */
    width: 125px;
    height: 22px;
    margin-top: 45px;
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1F2A36;
}
.btnLogin{
    /* position: absolute; */
    width: 570px;
    height: 50px;
    margin-top: 15px;
    /* margin-left: auto; */
    background: #FBB017;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}
.textAkhir{
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 284px;
    height: 22px;
    /* right: 223px; */
    top: 165px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1F2A36;
}
.daftar{
   color: #FBB017;
}
.Wrapper{
    /* position: absolute; */
    width: 570px;
    height:600px;
    /* top: 145px; */
    margin-left: auto;
    margin-right: 75px;
    margin-top: 145px;
    /* border: 1px solid black; */
}
@media only screen and (max-width: 1056px){
    .wrapperPwImg{
        display: none;
    }
    .Wrapper{
        display: block;
        width: 65%;
        margin-left: auto;
        margin-right: auto;

    }
    .inpEmail{
        display: block;
        width: 100%;
    }
    .btnLogin{
        display: block;
        width: 100%;
    }
}
@media only screen and (max-width: 909px){
    .wrapperPwImg{
        display: none;
    }
    .Wrapper{
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .forgot{
        display: inline-block;
        width: 90%;
        margin-left: auto;
    }
}
