.portfolios {
   justify-content: space-between;
   gap : 10px;
 }
 .portfolios::after {
  content : "";
  flex : auto
}
 .portfolio {
 }
 .experience img {
  width: 74px;
  max-width: 74px;
  height: 74px;
  max-height: 74px;
}
.imgwrapper {
  width: 200px;
  height: 150px;
  overflow: hidden;
}
.imgwrapper img {
  height: 100%;
  width: 100%;
}
.experience p {
  margin: 3px;
}
.experience .desc {
  font-size: 12px;
}

@media screen and (max-width: 567px) {
  .portfolios {
    justify-content: center;
  }
}